#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

.color-title{
    font-weight: bolder;
}

img{
    height: 100px;
    width: 200px;
}